

.description {
    background-color: #f9f9f9;
    padding: 2rem 0;
}

.caracteristicas {
    background-color: #ffffff;
    padding: 2rem 0;
}

h2, h3, h4 {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

p{
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

